<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="search-box">
        <%= form_for_filterrific @filterrific do |f| %>
        <div class="search">
          Search
          <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed'
          ) %>
        </div>
        <div class="search">
          Sorted by
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        </div>
        <%= render_filterrific_spinner %>
        <% end %>
      </div>
      <div>
        <%= render(
          partial: 'wikis/list',
          locals: { wikis: @wikis }
        ) %>
      </div>
    </div>
  </div>
</div>
